@media only screen and (min-width: 768px) {

    .book,
    .page,
    .main-content,
    .main-cover-image,
    .main-cover-image::after,
    #last-page,
    #second-page,
    #third-page-cover {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-color: #FFE2E2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .book,
    .main-content,
    .page,
    #third-page-cover,
    #last-page{
        height: 53vw;
    }

    .book,
    .main-content {
        width: 80vw;
        animation: none;
        border-left: none;
    }

    .page,
    #third-page-cover,
    #last-page {
        width: 40vw;
        right: 0;
        border-left: 4px dashed #810000;
    }

    #second-page {
        position: absolute;
    }

    body {
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background-image: url(./landscape/background.jpg);
    }

    .fun-bride-groom {
        display: none;
    }

    p,
    span {
        font-family: 'Lovers Quarrel', cursive;
        text-align: center;
        font-size: 1vw;
        color: #CE1212;
    }

    #my-quote {
        position: absolute;
    }

    .time-text {
        position: absolute;
        top: -6vw;
        width: 9vw;
        height: 1vw;
    }

    .time-text p {
        line-height: 1vw;
    }

    .address-text {
        font-size: 1vw;
    }

    .sub-address-text {
        width: 80%;
    }

    .sub-address-text-a {
        font-size: 1vw;
        font-weight: lighter;
    }

    .sub-address-text-b {
        font-size: 1vw;
        font-weight: lighter;
    }
}


.book,
.page,
.main-content,
.main-cover-image,
.main-cover-image::after,
#last-page,
#second-page,
#third-page-cover {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: #FFE2E2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.book,
.page,
.main-content,
#last-page,
#third-page-cover,
#my-quote {
    width: 90vw;
    height: 155vw;
    background-color: rgba(255, 245, 245, 0);
}

.book .page,
#last-page,
#second-page,
.sub-address-text,
#my-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book .page {
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    transition: transform 1.1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.book {
    position: relative;
    transform-style: preserve-3d;
    background-color: rgba(129, 0, 0, 0);
    box-shadow: rgba(129, 0, 0, 0.3) 5px 5px, rgba(129, 0, 0, 0.3) 10px 10px, rgba(129, 0, 0, 0.2) 15px 15px, rgba(129, 0, 0, 0.1) 20px 20px, rgba(129, 0, 0, 0.05) 25px 25px;
    border-left: 4px dashed #810000;
}

#second-page {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    background-image: url(https://cdn.jsdelivr.net/gh/yar98/bearhuyen/second-page-opti/second-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#third-page {
    background-color: white;
}

#third-page-cover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: cover;
}



#last-page {
    position: absolute;
    top: 0;
    z-index: -99;
}

#frog {
    width: 15vw;
    height: 15vw;
    position: absolute;
    left: 0;
    bottom: 1vw;
    background-image: url(./zabka.gif);
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

p,
span {
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 17vw;
    color: #CE1212;
}

#my-quote {
    position: absolute;
}

.time-text {
    position: absolute;
    top: -6vw;
    width: 90vw;
    height: 140vw;
}

.time-text p {
    line-height: 11vw;
}

.address-text {
    width: 100%;
    position: absolute;
    bottom: 1vw;
    font-size: 6vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    font-weight: bold;
}

.sub-address-text {
    width: 80%;
}

.sub-address-text-a {
    font-size: 5vw;
    font-weight: lighter;
}

.sub-address-text-b {
    font-size: 5vw;
    font-weight: lighter;
}

.book .page:nth-child(odd) {
    transform: rotateY(0deg);
}

.book .page:nth-child(odd):hover {
    transform: rotateY(-23deg);
}

.book .page.flipped:nth-child(odd) {
    transform: rotateY(-180deg);
}

.book .page:nth-child(even) {
    transform-origin: 50% 0;
    transform: rotateY(180deg);
}

.book .page.flipped:nth-child(even) {
    transform-origin: 0 0;
    transform: rotateY(180deg);
}

@keyframes pageHold {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-15deg);
    }
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEBDD;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header-content {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2vw;
}

.header-content img {
    transform: translateX(8%);
}

.main-content {
    height: 100%;
    perspective: 300vw;
    background-color: #810000 rgba(129, 0, 0, 0);
    animation: slope 3s 1 forwards;
    animation-delay: 2s;
}

.introduction-content {
    position: absolute;
    top: 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 4s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-cover-image {
    position: relative;
    width: 100%;
    height: 100%;
    isolation: isolate;
    background: url(https://cdn.jsdelivr.net/gh/yar98/bearhuyen/first-page-opti/white-main-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-cover-image::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 50%;
    background: white;
}

.sub-cover-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-cover-image-a {
    width: 60%;
    height: 100%;
    background-image: url(https://cdn.jsdelivr.net/gh/yar98/bearhuyen/first-page-opti/sub-red-cover-removebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heart {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(0vh) translateX(-10vw);
    }

    to {
        transform: translateY(105vh) translateX(10vw);
    }
}


.fun-bride-groom {
    position: relative;
    width: 100vw;
    height: 6vh;
}

.fun-bride {
    position: absolute;
    left: 12%;
    bottom: 0;
    animation: bride-down 2s 1 forwards;
    animation-delay: 2s;
}

.fun-groom {
    position: absolute;
    right: 3%;
    bottom: 0;
    transform-origin: 0 100%;
    animation: groom-up 3s ease-in-out 1 forwards;
    animation-delay: 2s;
}

.fun-family {
    position: absolute;
    right: 3%;
    bottom: 0;
    opacity: 0;
    animation: family-appear 3s 1 forwards;
    animation-delay: 5s;
}

@keyframes slope {
    from {
        transform: skewY(0);
    }

    to {
        transform: skewY(-4deg);
    }
}

@keyframes bride-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20%);
    }
}

@keyframes groom-up {
    0% {
        bottom: 0;
    }

    25% {
        transform: rotate(-90deg);
        right: 10vw;
    }

    90% {
        transform: rotate(-100deg);
        right: 50vw;
        bottom: -1vh;
    }

    100% {
        transform: translateY(20%);
        right: 69vw;
    }
}

@keyframes family-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

