.book {
    width: 90vw;
    height: 82vh;
    position: relative;
    transform-style: preserve-3d;
    background-color: bisque;
    
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: #FFE2E2;
    box-shadow: 5px 5px 30px #FFFFFF;
    border-left: 4px dashed #810000;
}

.page {
    width: 90vw;
    height: 82vh;
    background-color: #f0f0f0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: #FFE2E2;
}

.book .page {
    position: absolute;
    transform-origin: 0 0;
    transition: transform 1.1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.book .page:nth-child(odd) {
    transform: rotateY(0deg);
}

.book .page:nth-child(odd):hover {
    transform: rotateY(-23deg);
}

.book .page.flipped:nth-child(odd) {
    transform: rotateY(-180deg);
}

.book .page:nth-child(even) {
    transform-origin: 50% 0;
    transform: rotateY(180deg);
}

.book .page.flipped:nth-child(even) {
    transform-origin: 0 0;
    transform: rotateY(180deg);
}

@keyframes pageHold {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-15deg);
    }
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #810000;
}

.header-content {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2vw;
}

.header-content img{
    transform: translateX(8%);
}

.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 300vw;
    background-color: #810000;
    animation: slope 3s 1 forwards;
    animation-delay: 2s;
}

p,
span {
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    font-size: 8vh;
    color: #CE1212;
}

.introduction-content{
    position: absolute;
    top: 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-cover-image {
    position: relative;
    width: 100%;
    height: 100%;
    isolation: isolate;
    background: url(white-main-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: #FFE2E2;
}

.main-cover-image::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 50%;
    background: #FFE2E2;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-color: #FFE2E2;
}

.sub-cover-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-cover-image-a {
    width: 60%;
    height: 100%;
    background-image: url(sub-red-cover-removebg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second-cover-image{
    background-image: url(LAEM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  from {
     transform: translateY(0vh) translateX(-10vw); 
  }
  to {
     transform: translateY(105vh) translateX(10vw); 
  }
} 


.fun-bride-groom {
    position: relative;
    width: 100vw;
    height: 8vh;
}

.fun-bride {
    position: absolute;
    left: 3%;
    bottom: 0;
    animation: bride-down 2s 1 forwards;
    animation-delay: 2s;
}

.fun-groom {
    position: absolute;
    right: 3%;
    bottom: 0;
    transform-origin: 0 100%;
    animation: groom-up 3s ease-in-out 1 forwards;
    animation-delay: 2s;
}

.fun-family {
    position: absolute;
    right: 3%;
    bottom: 0;
    opacity: 0;
    animation:family-appear 3s 1 forwards;
    animation-delay: 5s;
}

@keyframes slope {
  from {
     transform: skewY(0); 
  }
  to {
     transform: skewY(-4deg); 
  }
} 

@keyframes bride-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20%);
    }
}

@keyframes groom-up {
    0% {
        bottom: 0;
    }
    25% {
        transform: rotate(-90deg);
        right: 10vw;
    }
    90% {
        transform: rotate(-100deg);
        right: 60vw;
        bottom: -1vh;
    }
    100% {
        transform: translateY(20%);
        right: 79vw;
    }
}

@keyframes family-appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}